body {
    font-family: Verdana, sans-serif;
}

table {
    margin: auto;
    font-size: 1rem;
    border-collapse: collapse;
    text-align: left;
    width: 90%;
    max-width: 1200px;
}

input {
    width: 100%;
    box-sizing: border-box;
    padding: 8px;
}

td, th {
    /*padding: 8px;*/
    padding: 4px 8px;
    border-top-width: 0;
    margin: 0;
    border-bottom: solid 1px #ddd;
    resize: horizontal;
}

.passed-due {
    background-color: lightcoral;
}


body {
    background-color: seashell;
    font-family:Arial, Helvetica, sans-serif;
}

h1 {
    text-align: center;
}

header {
    height: 100px;
}

table {
    margin: auto;
    border-collapse: collapse;
    background-color: darkseagreen;
    width: 90%;
    max-width: 1200px;
}

td, th {
    border-color: gray;
    border-width: 1px;
    border-style: solid;
    font-size: 1.5em;
    resize: horizontal;
}

th {
    padding: 16px;
    font-size: 2.2vw;
    background-color: seagreen;
    border-color: black;
}

tr {
    border-color: black;
    border-style: solid;
    border-width: 2px;
}

form {
    width:50%;
    margin:auto;
    color: rgb(63, 63, 63);
    padding: 16px;
    margin-top: 100px;
}

legend {
    font-weight: bold;
}

select, option, input {
    font-size: 0.8em;
}


.passed-due {
    background-color: lightcoral;
}

.deadline-in-past {
    background-color: rgb(190, 78, 78);
}

.half-hour-left {
    background-color: rgb(240, 184, 128);
}

.hour-left {
    background-color: rgb(240, 240, 128);
}

.too-much-time-left {
    background-color: rgb(46, 139, 87, 0.5);
}

.just-changed-deadline {
    background-color: orange;
}

select {
    width: 100%;
    font-size: 1.8em;
}

button {
    width: 100%;
    font-size: 0.8em;
    background-color: rgba(0,0,0,0);
}

.done-button {
    width: auto;
    background-color: lightcoral;
}

header>div {
    position: fixed;
    top: 3%;
    right: 1%;
    text-align: right;
}

/*#start-header {
    min-width: 150px;
}*/

#reset-button {
}